@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    max-width: 1020px;
    width: 100%;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

/*======== HEADER ========*/
.header {
    height: 90px;
    background: #2d303a;
    padding-top: 28px;
    box-shadow: 0 6px #323746;
}

.header .wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
}

/*--------- start LOGO --------*/
.header__logo {
    letter-spacing: -0.6px;
    font-size: 2.5rem;
    font-weight: bold;
}

.header__logo a {
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.header__logo a:hover {
    color: #dc655f;
}

.header__logo::after {
    content: "*";
    color: #dc655f;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.header__logo:hover::after {
    content: "*";
    color: #fff;
}

/*--------- end LOGO --------*/

/*--------- start NAVIGATION --------*/
.navigation__links {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.navigation__link:not(:first-child):before {
    content: "·";
    color: #494e62;
    margin-left: -17px;
    position: absolute;
}

.navigation__link {
    position: relative;
    margin: 0 15px;
    line-height: 1.5;
    letter-spacing: -0.2px;
}

.navigation__link:hover {
    cursor: pointer;
    color: #dc655f;
}

.navigation__link_action {
    color: #dc655f;
}

.navigation__link:last-child {
    margin-right: 0;
}

/*--------- end NAVIGATION --------*/
/*======================*/



/*======== MAIN ========*/
/*-------- start SLIDER -------*/
.content__slider {
    margin-top: 6px;
    padding: 53px 0 60px;
    background: #f06c64;
    height: 594px;
    box-shadow: 0 6px #ea676b;
    position: relative;
}

.img_prev,
.img_next {
    position: absolute;
}

.img_prev:hover img,
.img_next:hover img {
    cursor: pointer;
    -webkit-filter: contrast(50%);
    filter: contrast(50%);
}

.img_prev {
    top: 47%;
}

.img_next {
    right: 4%;
    top: 47%;
}

.slider {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.slider__img {
    background: url(assets/backg1.png) no-repeat;
    background-position: 0 -70px;
    display: block;
    margin: 0 72px;
    margin-top: -1px;
    border-radius: 28px;
    box-shadow: 24px 25px #ce5d56, 10px 10px #ce5d56, 15px 15px #ce5d56, 20px 20px #ce5d56;
    -webkit-transition: all 2s;
    transition: all 2s;
}

.slider__img:last-child {
    background: url(assets/backg2.png) no-repeat;
    background-position: -105px -56px;
    margin-top: -3px;
    margin-left: 148px;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    box-shadow: 24px -25px #ce5d56, 9px -10px #ce5d56, 14px -15px #ce5d56, 19px -20px #ce5d56;
}

.slider__img:hover {
    cursor: pointer;
    background-position: 10% 15%;
    -webkit-filter: grayscale(10);
    filter: grayscale(10);
}

/*--------- end SLIDER --------*/

/*--------- start SERVICES --------*/
/*--------- end SERVICES --------*/
/*======================*/