@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    max-width: 1020px;
    width: 100%;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

/*======== HEADER ========*/
.header {
    height: 90px;
    background: #2d303a;
    padding-top: 28px;
    box-shadow: 0 6px #323746;
}

.header .wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
}

/*--------- start LOGO --------*/
.header__logo {
    letter-spacing: -0.6px;
    font-size: 2.5rem;
    font-weight: bold;
}

.header__logo a {
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.header__logo a:hover {
    color: #dc655f;
}

.header__logo::after {
    content: "*";
    color: #dc655f;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.header__logo:hover::after {
    content: "*";
    color: #fff;
}

/*--------- end LOGO --------*/

/*--------- start NAVIGATION --------*/
.navigation__links {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.navigation__link:not(:first-child):before {
    content: "·";
    color: #494e62;
    margin-left: -17px;
    position: absolute;
}

.navigation__link {
    position: relative;
    margin: 0 15px;
    line-height: 1.5;
    letter-spacing: -0.2px;
}

.navigation__link:hover {
    cursor: pointer;
    color: #dc655f;
}

.navigation__link_action {
    color: #dc655f;
}

.navigation__link:last-child {
    margin-right: 0;
}

/*--------- end NAVIGATION --------*/
/*======================*/



/*======== MAIN ========*/
/*-------- start SLIDER -------*/
.content__slider {
    margin-top: 6px;
    padding: 53px 0 60px;
    background: #f06c64;
    height: 594px;
    box-shadow: 0 6px #ea676b;
    position: relative;
}

.img_prev,
.img_next {
    position: absolute;
    z-index: 1;
}

.img_prev:hover img,
.img_next:hover img {
    cursor: pointer;
    -webkit-filter: contrast(50%);
    filter: contrast(50%);
}

.img_prev {
    top: 47%;
}

.img_next {
    right: 4%;
    top: 47%;
}

.slider {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
}

.slider__img {
    background: url(assets/backg1.png) no-repeat;
    background-position: 0 -70px;
    display: block;
    margin: 0 72px;
    margin-top: -1px;
    border-radius: 28px;
    box-shadow: 24px 25px #ce5d56, 10px 10px #ce5d56, 15px 15px #ce5d56, 20px 20px #ce5d56;
    -webkit-transition: all 2s;
    transition: all 2s;
}

.mobile__btn {
    width: 44px;
    height: 44px;
    content: url(assets/button.png);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

#first-mobile {
    left: 157px;
    bottom: 7px;
}

#second-mobile {
    left: 394px;
    bottom: 209px;
}

#first-mobile:hover,
#second-mobile:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 1px silver;
}

.back-black {
    background: url(assets/black.png) repeat !important;
}

.slider__img:last-child {
    background: url(assets/backg2.png) no-repeat;
    background-position: -105px -56px;
    margin-top: -3px;
    margin-left: 148px;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    box-shadow: 24px -25px #ce5d56, 9px -10px #ce5d56, 14px -15px #ce5d56, 19px -20px #ce5d56;
}

.slider__img:hover {
    cursor: pointer;
    background-position: 10% 15%;
    -webkit-filter: grayscale(10);
    filter: grayscale(10);
}

/*--------- end SLIDER --------*/

/*--------- start SERVICES --------*/
.content__services {
    height: 505px;
    background-color: #f2f2f2;
    padding-top: 67px;
    box-shadow: 0 6px #fff;
}

.content__title {
    line-height: 1;
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
    letter-spacing: -0.3px;
}

.content__text {
    margin-top: 21px;
    color: #767e9e;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.7;
    text-align: justify;
}

.services {
    margin-top: 45px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.service {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    width: 32%;
    margin-bottom: 28px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.service:hover {
    cursor: pointer;
    text-shadow: 1px 1px 3px #ce5e563f;
}

.service__icon {
    margin-top: 2px;
    margin-right: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.service:hover .service__icon {
    background-color: #ce5e563f;
    border-radius: 50%;
}

.service__content {
    margin-left: 11px;
}

.service__title {
    font-size: 1.8rem;
    font-weight: 900;
    color: #666d89;
    line-height: 19px;
}

.service__text {
    margin-top: 7px;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: #767e9e;
    overflow: hidden;
}

/*--------- end SERVICES --------*/
/*-------- start PORTFOLIO -------*/
.content__portfolio {
    height: 864px;
    background-color: #2d303a;
    box-shadow: 0 6px #323746;
    padding: 60px 0;
}

.portfolio__title,
.about__title {
    color: #666d89;
    font-size: 3rem;
    font-weight: 900;
    /* letter-spacing: 0.05px; */
}

.portfolio__text,
.about__text {
    margin-top: 18px;
    color: #767e9e;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.7;
}

/*-------- start filter -------*/
.portfolio__filter {
    margin-top: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.filter__name {
    color: #767e9e;
    padding: 2.5px 6.5px;
    font-size: 1.2rem;
    letter-spacing: -0.1px;
    border: 1px solid #767e9e;
    border-radius: 5px;
    margin-left: 1px;
}

.filter__name:not(:first-child) {
    margin-left: 10px;
}

.filter__name:nth-child(3),
.filter__name:nth-child(4) {
    padding: 2.5px 6px;
}

.filter__name_action {
    color: #dedede;
    border: 1px solid #dedede;
}

.filter__name:hover {
    color: #dedede;
    border: 1px solid #dedede;
    cursor: pointer;
}

/*---------- end filter ---------*/
/*--------- start galery --------*/
.portfolio__gallery {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 620px;
    overflow: hidden;
}

.gallery__img {
    margin-top: 19.5px;
    overflow: hidden;
    position: relative;
}

.gallery__img>img {
    display: block;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.gallery__img>img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

/*--------- end galery --------*/
/*--------- end PORTFOLIO --------*/

/*--------- start ABOUT US -------*/
.content__about {
    margin-top: 5px;
    padding: 59px 0 65px;
    height: 729px;
    background-color: #f2f2f2;
    box-shadow: 0 6px #fff;
}

.about__text {
    text-align: justify;
}

/*--------- start cards -------*/
.about__cards {
    margin-top: 45px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card__person {
    width: 300px;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: relative;
    overflow: hidden;
}

.person__foto {
    overflow: hidden;
}

.person__foto>img {
    display: block;
}

.person__name {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: -0.2px;
    margin-top: 15px;
    color: #666d89;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    white-space: nowrap;
    overflow: hidden;
}

.person__description {
    font-size: 1.2rem;
    line-height: 21.56px;
    letter-spacing: 0;
    margin-top: 8px;
    text-align: justify;
}

.card__person:nth-child(1) .person__description {
    letter-spacing: -0.09px;
}

/*--------- start social ---------*/
.person__social {
    margin-top: 25px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.social__icon {
    width: 32px;
    height: 32px;
    padding: 7px;
    border: 1px solid #666d89;
    border-radius: 50%;
}

.social__icon:hover {
    background-color: #666d89;
    cursor: pointer;
}

.social__icon:hover img {
    -webkit-filter: brightness(2);
    filter: brightness(2);
}

.social__icon:not(:first-child) {
    margin-left: 8px;
}

.social__icon img {
    margin: 0 auto;
    display: block;
}

/*----------- end social ---------*/
/*----------- end cards ---------*/
/*--------- end ABOUT US --------*/
/*-------- start QUOTE -------*/
.content__quote {
    background: #f06c64;
    height: 648px;
    box-shadow: 0 6px #ea676b;
    padding: 60px 0;
    margin-top: 5px;
}

.quote__title {
    color: #f0d8d9;
    font-size: 3rem;
    font-weight: 900;
}

.quote__text {
    margin-top: 18px;
    color: #f0d8d9;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.7;
    text-align: justify;
}

.quote__block {
    display: -webkit-box;
    display: flex;
    margin-top: 35px;
}

/*-------- start FORM -------*/
.quote__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 620px;
    position: relative;
}

.quote__form input,
.quote__form textarea {
    width: 100%;
    margin: 8px 0;
    padding: 12px 15px 11px;
    background-color: #d6564f;
    color: #f48c8f;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}

.quote__form textarea {
    height: 202px;
    resize: none;
}

.quote__form input::-webkit-input-placeholder,
.quote__form textarea::-webkit-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-moz-placeholder,
.quote__form textarea::-moz-placeholder {
    color: #f48c8f;
}

.quote__form input:-ms-input-placeholder,
.quote__form textarea:-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-ms-input-placeholder,
.quote__form textarea::-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-webkit-input-placeholder,
.quote__form textarea::-webkit-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-moz-placeholder,
.quote__form textarea::-moz-placeholder {
    color: #f48c8f;
}

.quote__form input:-ms-input-placeholder,
.quote__form textarea:-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-ms-input-placeholder,
.quote__form textarea::-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-webkit-input-placeholder,
.quote__form textarea::-webkit-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-moz-placeholder,
.quote__form textarea::-moz-placeholder {
    color: #f48c8f;
}

.quote__form input:-ms-input-placeholder,
.quote__form textarea:-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-ms-input-placeholder,
.quote__form textarea::-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-webkit-input-placeholder,
.quote__form textarea::-webkit-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-moz-placeholder,
.quote__form textarea::-moz-placeholder {
    color: #f48c8f;
}

.quote__form input:-ms-input-placeholder,
.quote__form textarea:-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-ms-input-placeholder,
.quote__form textarea::-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-webkit-input-placeholder,
.quote__form textarea::-webkit-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-moz-placeholder,
.quote__form textarea::-moz-placeholder {
    color: #f48c8f;
}

.quote__form input:-ms-input-placeholder,
.quote__form textarea:-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-ms-input-placeholder,
.quote__form textarea::-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-webkit-input-placeholder,
.quote__form textarea::-webkit-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-moz-placeholder,
.quote__form textarea::-moz-placeholder {
    color: #f48c8f;
}

.quote__form input:-ms-input-placeholder,
.quote__form textarea:-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-ms-input-placeholder,
.quote__form textarea::-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-webkit-input-placeholder,
.quote__form textarea::-webkit-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-moz-placeholder,
.quote__form textarea::-moz-placeholder {
    color: #f48c8f;
}

.quote__form input:-ms-input-placeholder,
.quote__form textarea:-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-ms-input-placeholder,
.quote__form textarea::-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-webkit-input-placeholder, .quote__form textarea::-webkit-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-moz-placeholder, .quote__form textarea::-moz-placeholder {
    color: #f48c8f;
}

.quote__form input:-ms-input-placeholder, .quote__form textarea:-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::-ms-input-placeholder, .quote__form textarea::-ms-input-placeholder {
    color: #f48c8f;
}

.quote__form input::placeholder,
.quote__form textarea::placeholder {
    color: #f48c8f;
}

.quote__form input:not([type="submit"]):focus,
.quote__form textarea:focus {
    background-color: #cf443d;
    color: #fff;
    font-weight: bold;
}

.quote__form input:not([type="submit"]):hover,
.quote__form textarea:hover {
    background-color: #cf443d;
}

.quote__form input[type="submit"] {
    position: absolute;
    width: 10%;
    right: 0;
    bottom: 0;
    border: 1px dashed #f0d8d9;
    color: #fff;
    background: #df5f58;
    font-weight: bold;
    letter-spacing: 2px;
}

.quote__form input[type="submit"]:hover {
    cursor: pointer;
    background: #db554e;
    box-shadow: inset 0 0 5px #000, 0 0 5px 1px #000;
    text-shadow: 1px 1px #000;
}

.quote__form input[type="submit"]:focus {
    background-color: crimson;
}

.quote__form input[type="submit"]:active {
    background-color: blanchedalmond;
    color: brown;
}

/*-------- end FORM -------*/
/*-------- start INFORMATION -------*/
.quote__info {
    margin-top: 6px;
    margin-left: 20px;
    width: 300px;
}

.info__title {
    font-size: 1.8rem;
    font-weight: 900;
    color: #f0d8d9;
}

.info__text {
    margin-top: 8px;
    font-size: 1.2rem;
    color: #f0d8d9;
    text-align: justify;
    line-height: 22px;
    letter-spacing: -0.1px;
}

.info__contact {
    margin-top: 20px;
    margin-left: 2px;
    font-size: 1.2rem;
    color: #f0d8d9;
    line-height: 21px;
}

.info__contact address,
.info__contact a {
    display: block;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: center left;
    color: #f0d8d9;
}

.contact__address {
    background-image: url(assets/icon-location.png);
}

.contact__phone {
    background-image: url(assets/icon-phone.png);
}

.contact__email {
    background-image: url(assets/icon-mail.png);
    margin-top: 1px;
}


.info__contact address:hover,
.info__contact a:hover {
    cursor: pointer;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    color: cornsilk;
}

/*-------- end INFORMATION -------*/
/*--------- end QUOTE --------*/
/*======================*/

/*======= FOOTER =======*/
.footer {
    margin-top: 6px;
    height: 77px;
    background-color: #2d303a;
}

.footer .wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.footer__copyright {
    margin-top: 20px;
    margin-left: 2px;
    color: #666d89;
    font-size: 1.2rem;
    letter-spacing: -0.2px;
}

.footer__copyright:hover {
    color: #fff;
    cursor: pointer;
}

/*--- start SOCIAL FOOTER ----*/
.footer__social {
    margin-top: 22px;
    display: -webkit-box;
    display: flex;
}

.footer__social div {
    width: 32px;
    height: 32px;
    padding: 7px;
    border: 1px solid #666d89;
    border-radius: 50%;
}

.footer__social div:not(:last-child) {
    margin-right: 0;
}

.footer__social .social__icon img {
    margin: 0 auto;
    display: block;
}

.social__icon:hover {
    background-color: #666d89;
    cursor: pointer;
}

.footer__social .social__icon:hover img {
    -webkit-filter: brightness(2);
    filter: brightness(2);
}

/*---- end SOCIAL FOOTER -----*/
/*======================*/

/*==== MODAL WINDOW ====*/
.wrapper__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d202781;
    z-index: 10;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.modal__window {
    background-color: #dedede;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.modal__window button[name="ok"] {
    margin-top: 10px;
    padding: 7px 20px;
    border-radius: 5px;
}

.modal__window p:first-child,
.modal__window p:nth-child(2) {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.modal__window hr {
    width: 280px;
    height: 3px;
    background: #000;
}
/*======================*/